<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-items-center">
  <a class="navbar-brand" href="#">Real Estate Agency</a>
  <button *ngIf="currentAccountIsOwner" (click)="transferEarnings()" class="btn btn-outline-success my-2 my-sm-0"
    type="submit">Recuperar ganancias
  </button>
</nav>

<div class="jumbotron">
  <p><strong>Cuenta:</strong> {{currentAccount}} </p>
  <p *ngIf="currentAccountIsOwner"><strong>Rol:</strong> Inmobiliaria </p>
  <p *ngIf="!currentAccountIsOwner"><strong>Rol:</strong> Arrendatario </p>
  <p><strong>Balance de mi cuenta:</strong> {{accountBalance}} ether</p>
  <p *ngIf="currentAccountIsOwner"><strong>Balance del contrato:</strong> {{realStateBalance}} ether</p>
  <p *ngIf="!currentAccountIsOwner">Mi nombre: <input type="text" class="input" [(ngModel)]="renterName" /> </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="page-header">
        <h5 class="mb-4">Pisos en alquiler:</h5>
      </div>
      <ul class="list-group">
        <li *ngFor="let flat of allFlats" class="list-group-item d-flex justify-content-between align-items-center">
          {{flat.name}} <span class="d-flex justify-end align-items-center"> {{toEther(flat.price)}} ether
            ({{flat.depositNumberRequired}} fianzas)
            <span *ngIf="!currentAccountIsOwner" (click)="rentFlat(flat,renterName)"
              class="btn btn-outline-success ml-3">Alquilar</span></span>
        </li>
      </ul>
    </div>
    <div class="col-md-6 mb-5" *ngIf="!currentAccountIsOwner">
      <div class="page-header">
        <h5 class="mb-4">Pisos alquilados:</h5>
      </div>
      <ul class="list-group">
        <li *ngIf="rentedFlat.id != 0" class="list-group-item d-flex justify-content-between align-items-center">
          {{rentedFlat.name}}
          <span class="d-flex justify-end align-items-center">{{toEther(rentedFlat.price)}} ether
            <span (click)="payRent(rentedFlat.price)" class="btn btn-outline-success ml-3">
              Pagar renta
            </span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6" *ngIf="currentAccountIsOwner">
      <div class="page-header">
        <h5 class="mb-4">Pisos alquilados:</h5>
      </div>
      <ul class="list-group">
        <li *ngFor="let flat of allFlatsRented"
          class="list-group-item d-flex justify-content-between align-items-center">
          {{flat.name}} - {{toEther(flat.price)}} ether
          <span *ngIf="currentAccountIsOwner" (click)="finishRent(flat.id)" class="btn btn-outline-success">
            Fin de contrato
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>